<p class="title">
    MENU
</p>
<div class="content">
    <div class="menu-item">
        <button mat-icon-button>
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
    </div>
    <div class="menu-item">
        <button mat-icon-button>
            <mat-icon>people</mat-icon>
            <span>People</span>
        </button>
    </div>
    <div class="menu-item">
        <button mat-icon-button>
            <mat-icon>local_movies</mat-icon>
            <span>Films</span>
        </button>
    </div>
    <div class="menu-item">
        <button mat-icon-button>
            <mat-icon>airplanemode_active</mat-icon>
            <span>Starships</span>
        </button>
    </div>
    <div class="menu-item">
        <button mat-icon-button>
            <mat-icon>commute</mat-icon>
            <span>Vehicles</span>
        </button>
    </div>
    <div class="menu-item">
        <button mat-icon-button>
            <mat-icon>fingerprint</mat-icon>
            <span>Species</span>
        </button>
    </div>
    <div class="menu-item">
        <button mat-icon-button>
            <mat-icon>stars</mat-icon>
            <span>Planets</span>
        </button>
    </div>
</div>