mat-sidenav-container{
    height: 100%;

    mat-sidenav{
        width: 200px !important;
        padding-top: 20px;
        padding-left: 20px;
    }
      
    .content {
        background-color: black;

        .sidenav-button{
            background-color: black;
        }

        mat-icon{
            color: white;
        }

        .main-content{
            color: white;

            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 20%;
            }

            .button-row{
                margin-top: 40px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                border: 1px solid white;
                border-radius: 30px;
                text-align: center;

                a{
                    text-decoration: none;
                    color: white;
                }
            }

            .description{
                margin-top: 100px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 60%;
                text-align: center;   
            }

            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: rgb(58, 56, 56);
                color: white;
                text-align: center;
             }
        }
    }
}